* { 
	box-sizing: border-box; 
}
html,body {
	min-height: 100vh;
	margin: 0;
	background-color: black;
}
img {
	max-width: 100%;
 {
}
	color: white;
	display: flex;
}
div > div {
	margin: center; 
	width: 800px;
	height: 800px;
	padding: 20px;
}

.active {
	background: red;
}